body {
  margin: 0;
  text-align: center;
  font-family: 'Rubik', sans-serif;
}

h1 {
  color: #42855B;
  font-family: 'Sacramento', cursive;
  font-size: 5em;
  line-height: 2;
  margin: 20px auto 20px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #42855B;
  font-weight: bold;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #8B7E74;
}

.top  {
  background-color: #F1D3B3;
  position: relative;
  padding-top: 50px;
}

.profilepic {
  border-radius: 60%;
  width: 30%;
}

.profile {
  width: 30%;
  margin: 100px auto;
  line-height: 2;
}

.web {
  text-decoration: underline;
}

.bottom-cloud {
  position: absolute;
  top: 300px;
}

.top-cloud {
  position: absolute;
  top: 50px;
  right: 550px;
}

.skills {
  padding: 50px;
}
.skill-row {
  margin: 100px auto;
  width: 50%;
  text-align: left;
  line-height: 2;
}

.pc {
  float: left;
  width: 20%;
  margin-right: 30px;
}

.box {
  float: right;
  width: 20%;
  margin-left: 30px;
}

.bottom-container {
  background-color: #F1D3B3;
  padding-bottom: 20px;
  padding-top: 20px;
}

.contact-me {
  margin: 50px auto;
}

.btn {
	box-shadow: 0px 0px 10px 0px #3dc21b;
	background-color:#44c767;
	border-radius:20px;
	border:1px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	padding:10px 30px;
	text-decoration:none;
	text-shadow:0px 0px 4px #2f6627;
}

.btn:hover {
  background-color:#5cbf2a;
}

.footer-link {
  color: #8B7E74;
  margin: 10px 30px;
  text-decoration: none;
}

.footer-link:hover {
  color: #42855B;
}

hr {
  border-top: 6px dotted #42855B;
  width: 5%;
}

.credit {
  color: black;
}